@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

.main_container {
  display: flex;
  font-size: 60px;
  height: 100%;
  width: 100%;
}

#nav {
  flex-direction: column;
  background-color: #c22177;
  flex-basis: 15%;
  color: white;
  padding: 3vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header,
footer {
  background-color: #111023;
  width: 100%;
  flex-grow: 1;
  padding: 3vh;
  color: white;
}

main {
  flex-grow: 4;
  display: flex;
}

.article {
  flex-grow: 6;
  padding: 3vh;
}

.aside {
  flex-grow: 1;
  background-color: #320388;
  padding: 3vh;
  color: white;
}
